{% extends "_layout/default.njk" %}


{% set root        = '../../' %}
{% set title       = 'ポイント交換アイテム　交換完了画面' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}


{% block content -%}

    <div class="c-contentCenter">
        <h1 class="c-ttl c-ttl__mb28">ポイント交換が完了いたしました。</h1>
        <p class="c-txt">ご利用ありがとうございました。</p>
    </div>
    
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
