{% extends "_layout/default.njk" %}


{% set root        = '../../' %}
{% set title       = 'ポイント交換アイテム　一覧画面' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}


{% block content -%}
    <ul class="c-list">
        {% for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16] -%}
        <li>
            <a href="{{root}}point/item/" class="c-list-item">
                <div class="c-list-item-img">
                    <img src="{{root}}assets/img/pic_item01.png" alt="">                
                </div>
                <p class="c-list-item-price">
                    <span>2,000</span>P
                </p>
            </a>
        </li>
        {%- endfor %}
    </ul>
    <div class="c-btnWrap">
        <button class="c-btn">もっと見る</button>
    </div>
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
