@charset "utf-8";

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin mq($breakpoint: pc, $rule: min) {
    $breakpoint: map_get($mq-breakpoints, $breakpoint);
    @media screen and (#{$rule}-width: $breakpoint) {
        @content;
    }
}