{% extends "_layout/default.njk" %}


{% set root        = '../../' %}
{% set title       = 'ポイント交換アイテム　ポイント履歴画面' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}
{% set pointHistory      = true %}


{% block content -%}
    <h1 class="c-ttl">ポイント履歴</h1>

    <p class="c-lead">
        お買い上げごとに<strong>1.0％</strong>のポイントプレゼント。<br>
        あと<span class="c-txtPink">30,000円分</span>の購入でクリスタルクラスになります。
    </p>

    <div class="c-points">
        <p class="c-points-txt">
            現在あなたは
            <span class="c-points-emphasis"><span>0</span>Point</span>
        </p>
    </div>

    <p><a href="#" class="c-link c-link__question">Jewel Pointのクラスとポイント付与率について</a></p>

    <div class="c-resultHead">
        <div>日付</div>
        <div>詳細</div>
        <div>ポイント</div>
    </div>

    <div class="c-resultBody">
        <div class="c-pic">
            <img src="https://placehold.jp/700x500.png" alt="">
        </div>
    </div>
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
