@charset "utf-8";

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-family: "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    word-break: break-all;
}

// 以下はIEと游ゴシックの組み合わせのバグへの対応のため。詳細は以下URL参照。
// https://thk.kanzae.net/net/itc/t4898/
@media all and (-ms-high-contrast:none) {
	body {
        font-family: "メイリオ", Meiryo, "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
	}
}

p, ul, ol, dl {
    // 各要素デフォルトのマージン。
    // 現状入っているものは仮のもののため、各サイトを作る時に設定を変更する。
    margin-bottom: 1em;
}

a {
    // デフォルトのリンク色。
    // 現状入っている色は仮のもののため、各サイトを作る時に設定を変更する。
    color: #171717;
    text-decoration: underline;
}

img {
    vertical-align: bottom;
}

input,
textarea,
select {
    font-family: inherit;
}