@charset "utf-8";

/**
 * width や height がパディングやボーダーに依存しないようにする
 */
*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * デフォルトのマージンを削除
 */
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin: 0;
}

/**
 * IE6/7 で 2 つ個以上の連続した br タグは無視するバグに対応
 */
br {
    letter-spacing: 0;
}

/**
 * デフォルトのマージンを削除
 */
p, blockquote, dl, dd, figure {
    margin: 0;
}

/**
 * 行が長くなると改行させる
 * デフォルトのマージンを削除
 */
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

/**
 * デフォルトのマージンを削除
 */
ol, ul {
    padding: 0;
    margin: 0;
}

/**
 * デフォルトのマージンを削除
 */
li {
    list-style: none;
}

/**
 * フォントのサイズを統合
 */
button,
input,
optgroup,
select,
textarea {
    font-size: 1em;
}

/**
 * マージンとボーダーを削除
 */
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/**
 * Chrome で selectbox の background-color を継承しない対策
 */
select {
    background-color: inherit;
    line-height: inherit;
}

/**
 * セルの文字寄せをリセット
 */
th, td {
    text-align: left;
}

/**
 * 文字寄せをリセット
 * 余白を削除
 */
caption {
    text-align: left;
    padding: 0;
}