{% extends "_layout/default.njk" %}


{% set root        = '../../' %}
{% set title       = 'ポイント交換アイテム　配送先選択画面' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}


{% block content -%}
    <div class="c-form">
        <form action="">
            <ul class="c-radios">
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="0"><span class="c-radio-text">オンラインショップにご登録の住所</span>
                    </label>
                </li>
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="1"><span class="c-radio-text">JILL STUART Beauty & PARTY<br>東急プラザ表参道原宿店</span>
                    </label>
                </li>
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="2"><span class="c-radio-text">JILL STUART Beauty & PARTY GINZASIX店</span>
                    </label>
                </li>
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="3"><span class="c-radio-text">銀座三越</span>
                    </label>
                </li>
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="4"><span class="c-radio-text">マロニエゲート銀座2号店</span>
                    </label>
                </li>
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="5"><span class="c-radio-text">ルミネ新宿2店</span>
                    </label>
                </li>
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="6"><span class="c-radio-text">松屋銀座本店</span>
                    </label>
                </li>
                <li>
                    <label class="c-radio">
                        <input type="radio" name="address" value="7"><span class="c-radio-text">小田急百貨店 新宿店</span>
                    </label>
                </li>
            </ul>
            
        </form>
    </div>
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
