@charset "utf-8";

.c-btnWrap {
    margin: 1.6rem 0;
    > *:last-child {
        margin-bottom: 0;
    }
}

.c-btn {
    display: block;
    width: 100%;
    padding: .4rem 1.6rem;
    min-height: 4.8rem;
    border: 2px solid #171717;
    background-color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.c-btn2 {
    width: 100%;
    border: 2px solid #DB7D93;
    background-color: #DB7D93;
    color: #fff;
    text-decoration: none;
    border-radius: .6rem;
    font-weight: 600;
    min-height: 48px;
    padding: .8rem 1.6rem 2.2rem;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    letter-spacing: .2rem;
    position: relative;
    background-image: url(../img/bg_btn01.svg);
    background-repeat: no-repeat;
    background-position: center bottom 8px;
    background-size: auto;
    margin-bottom: 1.6rem;
    &.c-btn2__type2 {
        background-color: #fff;
        color: #DB7D93;
        .c-btn2-arrow {
            border-color: #DB7D93;
            transform: rotate(-135deg);
            right: auto;
            left: 2rem;
        }
    }
}

.c-btn2-arrow {
    display: block;
    width: .9rem;
    height: .9rem;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    top: 0;
    right: 2rem;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}