@charset "utf-8";

.c-radio {
    display: block;
    align-items: center;
    border: 1px solid #D6D6D6;
    padding: 1.6rem 2rem;
    position: relative;
    
    > input[type="radio"] {
        display: none;
        &:checked + .c-radio-text {
            &::before {
                background: #F9D2CD;
                border-color: #E0BDB8;
                box-shadow: 0 1px 3px rgba(0,0,0, .25);
            }
            &::after {
                display: block;
            }
        }
    }
}

.c-radio-text {
    display: block;
    font-weight: 600;
    padding-left: 3.2rem;
    &::before {
        content: '';
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: .8rem;
        border: 1px solid #ACACAC;
        background: linear-gradient(#DBDBDB, #fff 35%);
        margin-right: 1.6rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2rem;
        margin: auto;
    }
    &::after {
        content: '';
        width: .6rem;
        height: .6rem;
        border-radius: .8rem;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0, .25);
        margin-right: 1.6rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2.5rem;
        margin: auto;
        display: none;
    }
}

