@charset "utf-8";

.c-link {
    text-decoration: underline;
    color: #171717;
}

.c-link__question {
    position: relative;
    padding-left: 2.4rem;
    &::before {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        background-image: url(../img/ic_question01.svg);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}