@charset "utf-8";

.c-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 16px;
    > li {
        width: 50%;
        margin-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
    > li:nth-last-of-type(-n+2) {
        margin-bottom: 0;
    }
}

.c-list-item {
    display: block;
    position: relative;
    width: 100%;
    height: 14.5rem;
    border: 1px solid #D6D6D6;
    text-decoration: none;
}

.c-list-item-img {
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.c-list-item-price {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background-color: #DB7D93;
    color: #fff;
    min-width: 9rem;
    height: 2.4rem;
    border-radius: 0 1.2rem 1.2rem 0;
    position: absolute;
    left: 0;
    bottom: 1rem;
    padding: 0 1.6rem;
    > span {
        margin-right: .4rem;
    }
}

.c-list2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    > li {
        border-bottom: 1px solid #D6D6D6;
        padding: 16px 0;
        &:first-child {
            border-top: 1px solid #D6D6D6;
        }
    }
}

.c-radios {
    margin-bottom: 1.6rem;
    > li {
        margin-bottom: 1.6rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}