@charset "utf-8";

.c-contentCenter {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.c-resultHead {
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    background-color: #FAFAFA;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    font-weight: 600;
    margin-bottom: 1.6rem;
}