@charset "utf-8";

.c-points {
    background-color: #DB7D93;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    border-radius: 1rem;
    position: relative;
    background-image: url(../img/pic_point01.svg), url(../img/pic_point02.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center left 10px, center right 10px;
    background-size: auto, auto;
    margin-bottom: 1.6rem;
}

.c-points-txt {
    margin-bottom: 0;
    text-align: center;
}

.c-points-emphasis {
    font-size: 1.8rem;
    font-weight: 600;
    display: block;
    > span {
        margin-right: .8rem;
    }
}