@charset "utf-8";

.c-product {
    > *:last-child {
        margin-bottom: 0;
    }
}

.c-product-head {
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    &::before {
        content: '';
        display: block;
        height: 1.6rem;
        background-image: url(../img/pic_img01.svg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: auto;
        margin-bottom: .8rem;
    }
    &::after {
        content: '';
        display: block;
        height: 1rem;
        background-image: url(../img/pic_img02.svg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: auto;
        margin-top: .8rem;
    }
}

.c-product-img {
    text-align: center;
    margin-bottom: 1.6rem;
}

.c-product-points {
    background-color: #FAFAFA;
    min-height: 4rem;
    padding: .8rem 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
        margin: 0 4px;
    }
}

.c-product-shop {
    text-align: center;
    margin: 2rem 0;
    > dt {
        font-weight: 600;
    }
}

.c-product2 {
    display: flex;
}

.c-product2-thumb {
    width: 12rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
        max-width: 100%;
        max-height: 100%;
    }
}

.c-product2-detail {
    width: calc(100% - 120px);
    > *:last-child {
        margin-bottom: 0;
    }
}

.c-product2-name {
    font-weight: 600;
    margin-bottom: 1.6rem;
    font-size: 1rem;
}

.c-product2-name-point {
    display: block;
    > span {
        margin-right: .4rem;
    }
}

.c-product2-info {
    margin-bottom: 1.6rem;
    font-size: 1rem;
    > dt {
        float: left;
        clear: both;
        &::after {
            content: '：';
        }
    }
    > dd {
        overflow: hidden;
    }
}