{% extends "_layout/default.njk" %}


{% set root        = '../../' %}
{% set title       = 'ポイント交換アイテム　ポイント交換履歴画面' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}


{% block content -%}
    <h1 class="c-ttl">ポイント交換履歴</h1>

    <p class="c-lead">
        交換日より3週間以内にお届けいたします。
    </p>

    <ul class="c-list2">
        {% for i in [1,2,3,4] -%}
        <li>
            <div class="c-product2">
                <div class="c-product2-thumb">
                    <img src="{{root}}assets/img/pic_item02.png" alt="">
                </div>
                <div class="c-product2-detail">
                    <p class="c-product2-name">ペアタンブラー<span class="c-product2-name-point"><span>500</span>Point</span></p>
                    <dl class="c-product2-info">
                        <dt>交換日</dt>
                        <dd>2017/04/01</dd>
                        <dt>受取先</dt>
                        <dd>松屋 銀座本店</dd>
                    </dl>
                </div>
            </div>
        </li>
        <li>
            <div class="c-product2">
                <div class="c-product2-thumb">
                    <img src="{{root}}assets/img/pic_item03.png" alt="">
                </div>
                <div class="c-product2-detail">
                    <p class="c-product2-name">ペアワイングラス<span class="c-product2-name-point"><span>1000</span>Point</span></p>
                    <dl class="c-product2-info">
                        <dt>交換日</dt>
                        <dd>2017/03/30</dd>
                        <dt>受取先</dt>
                        <dd>フルーツギャザリンググランデュオ 立川店</dd>
                    </dl>
                </div>
            </div>
        </li>
        {%- endfor %}
    </ul>

    <div class="c-btnWrap">
        <button class="c-btn">もっと見る</button>
    </div>
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
