{% extends "_layout/default.njk" %}


{% set root        = '../../' %}
{% set title       = 'ポイント交換アイテム　確認画面' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}


{% block content -%}
    <h1 class="c-ttl c-ttl__type2">交換します。よろしいですか？</h1>

    <section class="c-product">

        <div class="c-product-head">
            <h2 class="c-product-name">ペアティーコーヒーセット</h2>
        </div>

        <div class="c-product-img">
            <img src="{{root}}assets/img/pic_item01.png" alt="">
        </div>
        
        <p class="c-product-points">利用ポイント数<span>2,000</span>Point</p>

        <dl class="c-product-shop">
            <dt>交換店舗</dt>
            <dd>JILL STUART Beaty & PARTY 東急プラザ表参道原宿店</dd>
        </dl>

        <div class="c-btnWrap">
            <a href="{{root}}point/complete/" class="c-btn2">アイテムと交換する<span class="c-btn2-arrow"></span></a>
            <a href="#" class="c-btn2 c-btn2__type2"><span class="c-btn2-arrow"></span>戻る</a>
        </div>

    </section>
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
