{% extends "_layout/default.njk" %}


{% set root        = '../../' %}
{% set title       = 'ポイント交換アイテム　詳細画面' %}
{% set description = '' %}
{% set keywords    = '' %}
{% set useSnsShare = true %}
{% set ogUrl       = '' %}
{% set ogImage     = '' %}
{% set ogType      = '' %}


{% block content -%}
    <h1 class="c-ttl">ポイント交換アイテム</h1>

    <section class="c-product">

        <div class="c-product-head">
            <h2 class="c-product-name">ペアティーコーヒーセット</h2>
        </div>

        <div class="c-product-img">
            <img src="{{root}}assets/img/pic_item01.png" alt="">
        </div>
        
        <p class="c-product-points">利用ポイント数<span>2,000</span>Point</p>

        <div class="c-btnWrap">
            <a href="{{root}}point/selectaddress/" class="c-btn2">配送先を選択する<span class="c-btn2-arrow"></span></a>
        </div>

        <div class="c-product-detail">
            <p>
                ジュエリーのようにキラキラと輝くデザイン。<br>
                ティータイムを華やかに演出します。<br>
                女の子の「かわいい」がつまったJILL STUARTのテーブルウェアコレクションです。<br>
                ティーコーヒー兼用カップ＆ソーサー200cc×2<br>
                バッケージ：170-280-110mm
            </p>
        </div>

    </section>
{%- endblock %}


{#
head内に記述されるページ独自のCSS。以下のように記述する。
<link rel="stylesheet" href="{{ root }}/assets/css/hoge.css">
#}
{% block css -%}
{%- endblock %}


{#
head内に記述されるページ独自のJavascript。
基本的には通常のjs blockを使用するが、ライブラリによってはhead内におかないといけないためこれを利用する
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
#}
{% block headJs -%}
{%- endblock %}


{#
</body>直前に記述されるページ独自のJavascript。
以下のように記述する。
<script src="{{ root }}/assets/js/hoge.js"></script>
<script>
    console.log('ホニャホニャ');
</script>
#}
{% block js -%}
{%- endblock %}
