<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ root }}/assets/css/foundation.css">
    <link rel="stylesheet" href="{{ root }}/assets/css/layout.css">
    <link rel="stylesheet" href="{{ root }}/assets/css/object.css">
    {% block css %}{% endblock %}
    {% block headJs %}{% endblock %}
</head>
<body>

    <main class="l-content{% if pointHistory %} l-content__bg{% endif %}">
        {% block content %}{% endblock %}
    </main>

    {% block js %}{% endblock %}
</body>
</html>