<meta property="og:site_name" content="">
    <meta property="og:title" content="{{ title }}">
    {% if description -%}
    <meta property="og:description" content="{{ description }}">
    {%- else -%}
    <meta property="og:description" content="固定のディスクリプション文言">
    {%- endif %}
    {%- if ogUrl %}
    <meta property="og:url" content="{{ ogUrl }}">
    {%- endif %}
    {% if ogImage -%}
    <meta property="og:image" content="{{ ogImage }}">
    {%- else -%}
    <meta property="og:image" content="固定のog:image">
    {%- endif %}
    {% if ogType -%}
    <meta property="og:type" content="{{ ogType }}">
    {%- else -%}
    <meta property="og:type" content="article">
    {%- endif %}
    <meta property="og:locale" content="ja_JP">
    {% if description -%}
    <meta name="twitter:description" content="{{ description }}">
    {%- else -%}
    <meta name="twitter:description" content="固定のディスクリプション文言">
    {%- endif %}
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:site" content="">
    <meta name="twitter:card" content="summary">
