@charset "utf-8";

.l-content {
    padding: 20px 16px 48px;
    > *:last-child {
        margin-bottom: 0;
    }
    > *:first-child {
        margin-top: 0;
    }
    &.l-content__bg {
        background-image: url(../img/bg_pointResult01.png);
        background-size: cover;
        background-position: top left;
        background-repeat: repeat-y;
    }
}